<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

  <title>404 for Back-end</title>
  <meta name="description" content="Create the 404 page for a simple web page used to practice with back-end development."/>

  <!-- the style is included through express -->
  <link rel="stylesheet" href="style.css"/>
  <!-- <link rel="icon" href="tab_icon.png"> -->

</head>

<body>

    <% include nav.ejs %>
  <!-- display a simple header and informative text -->
  <section class="four-oh-four">
    <h2>¯\_(ツ)_/¯</h2>
    <p>Something went wrong. Please try again soon.</p>
    <p>(do not really try, this page is set out like this on purpose)</p>

  </section>
  <!-- markup right here -->

<!-- <script src="script.js"></script> -->
</body>
</html>
