@import url('https://fonts.googleapis.com/css?family=Roboto:700');

/* include the variables for the font and colors (especially for the toned gradients) */
:root {
  --font: 'Roboto', sans-serif;
  --color-text: #2D2E45;
  --color-card: #FEFEFE;
  --color-accent: #F17673;
  --gradient-start: #DBDED3;
  --gradient-mid: #D3AE98;
  --gradient-thirds: #D0A392;
  --gradient-end: #E3AD9A;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--font);
  color: var(--color-text);
  background: linear-gradient(
    to bottom right,
    var(--gradient-start),
    var(--gradient-mid) 65%,
    var(--gradient-thirds) 65%,
    var(--gradient-end)
  );
  background-repeat: no-repeat;
  padding: 1.5rem 0 0;
}
/* specify the container as a white card, on which elements are included one after the other (each taking a chunk of the vertical space) */
.container {
  background: var(--color-card);
  max-width: 600px;
  width: 90vw;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  box-shadow: 0 1px 10px var(--gradient-mid);
  text-align: center;
}

.container h1 {
  text-transform: uppercase;
}
.container p {
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  margin: 0.7rem 0 1.5rem;
}
.container form select {
  margin: 0 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid var(--color-accent);
  font-family: inherit;
}
.container form button {
  display: block;
  text-align: center;
  margin: 3rem auto 1rem;
  padding: 0.5rem;
  background: none;
  border-radius: 5px;
  border: 3px solid var(--color-accent);
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: 0.1rem;

  transition: all 0.2s ease-out;
}
.container form button:hover {
  color: var(--color-card);
  background: var(--color-accent); 
  box-shadow: 0 1px 4px var(--color-accent);
}
.container form button:active {
  transform: scale(1.1);
}